#__next {
  height: 100%;
}

// ====
// ==== LAYOUT ====
// ===================================

.layout__wrapper {
  width: 100vw;
  height: 100vh;
  max-width: 375px;
  max-height: 667px;
  padding: 10px;
  margin: auto;
}

.layout__background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
  top: 0;
  left: 0;

  &__img {
    object-fit: cover;
  }
}

.layout__overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 1;
  background: rgba(0, 0, 0, .5);
  top: 0;
  left: 0;
}

.layout__img {
  object-fit: cover;
}